body{
	margin: 0;
}

#home-link{
	margin-top:30px;
	font-size:20px;
}
#person2-link{
	margin-top:40px;
	font-size:30px;
}
#simple-controller{
	margin-top:30px;
	font-size:20px;
}
#custom-directive{
	margin-top:70px;
	color:red;
}
mayank-info{
	font-size:20px;
}
#parent-div{
    padding:60px;
}
#unordered-list{
    margin-top:90px;
}
#simple-view-aside-title{
    margin-left:70px;
}
#person2-data-div{
    margin-left:80px;
}
#person1-div{
    margin-left:100px;
}
